.vscode/
imagescraper/__pycache__
imagescraper/spiders/__pycache__
tests/__pycache__
tests/spiders/__pycache__
TODO.md
etc/imagescraper.*.conf.yaml
!etc/imagescraper.default.conf.yaml
*.code-workspace
.env/
